* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: white;
  font-size: 80px;
  text-decoration: underline;
}

h2 {
  padding: 5px;
  font-size: 30px;
}

body {
  padding: 10rem;
  margin-left: 6%;
}

main {
  display: flex;
  margin: 20px auto;
  gap: 100px;
  color: white;
}

@media (width >= 500px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

.episodes ul {
  display: grid;
  gap: 1ch;
  list-style-type: none;
  padding: 0.25rem;
}

.episodes li {
  padding: 1ch;
  border-bottom: 1px solid #ccc;
  font-size: 25px;
}

.episodes li:hover {
  cursor: pointer;
  font-style: italic;
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: red;
}

.details {
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  align-items: flex-start;
  padding: 20px;
  font-size: 40px;
  font-weight: 600;
}

.details-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  min-height: 400px;
}

.watch-btn {
  color: black;
  background-color: rgb(255, 255, 255);
  font-weight: 600;
  width: 450px;
  height: 30px;
  cursor: pointer;
  margin-top: auto;
  letter-spacing: 2px;
font-size: 18px;
  font-weight: 700;
}

.watch-btn:hover {
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.watch-btn:active {
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: red;
  color: white;
}

h3 {
  font-size: 25px;
  padding: 5px;
}

p {
  padding: 10px;
  font-size: 25px;
}

.title {
  font-size: 50px;
}

.description-container p {
  font-size: 30px;
  font-style: italic;
  padding-bottom: 50px;
  text-wrap: wrap;
}
